/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Numans', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bungee', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 2.7rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1% 0 1% 2%;
  border-bottom: 1px solid #d3d3d3;
}
@media (max-width: 500px) {
  .navbar {
    flex-direction: column;
    align-content: center;
  }
}
.navbar a {
  text-decoration: none;
  color: black;
}
.navbar span {
  display: flex;
  align-items: center;
  width: 10%;
}
.navbar span img {
  width: 50px;
  height: 50px;
}
.navbar span a {
  text-decoration: none;
}
.navbar span a h3 {
  font-family: 'Bungee', sans-serif;
  color: black;
  font-size: 2.5rem;
  padding-bottom: 0;
}
.navbar span a p {
  color: #d3d3d3;
  font-size: 0.5rem;
  padding-bottom: 0;
  text-align: center;
}
.navbar nav {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 2%;
}
@media (max-width: 500px) {
  .navbar nav {
    flex-direction: column;
    padding-top: 10px;
    width: 100%;
  }
}
.navbar nav a {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
}
@media (max-width: 800px) {
  .navbar nav a {
    padding-left: 5px;
  }
}
@media (max-width: 500px) {
  .navbar nav a {
    padding: 0 10px;
    width: 100%;
    font-size: 2.5rem;
  }
}
.navbar nav a:hover {
  color: #54C6D2;
}
.container {
  width: 100%;
}
@media (max-width: 800px) {
  .container {
    max-width: 800px;
  }
}
@media (max-width: 500px) {
  .container {
    max-width: 500px;
  }
}
.container .topHalf {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 5%;
}
@media (max-width: 800px) {
  .container .topHalf {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 20px;
  }
}
.container .topHalf .leftSide {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container .topHalf .leftSide h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding-bottom: 20px;
}
.container .topHalf .leftSide .btn {
  display: block;
  margin: 0 10px 20px 10px;
  height: 45px;
  font-size: 2rem;
  border-radius: 10px;
  padding-top: 12px;
  text-align: center;
  width: 80%;
  background-color: #54C6D2;
  color: white;
}
.container .topHalf .leftSide .btn a {
  text-decoration: none;
  color: white;
}
@media (max-width: 800px) {
  .container .topHalf .leftSide .btn {
    width: 90%;
    margin-left: 30px;
  }
}
.container .topHalf .leftSide .btn:hover {
  background-color: #41C2E1;
}
@media (max-width: 800px) {
  .container .topHalf .leftSide {
    width: 100%;
    text-align: center;
  }
}
.container .topHalf .topHalfImg {
  margin-top: 2%;
  width: 600px;
}
@media (max-width: 800px) {
  .container .topHalf .topHalfImg {
    margin-left: 75px;
    width: 60%;
    height: auto;
  }
}
@media (max-width: 500px) {
  .container .topHalf .topHalfImg img {
    display: none;
  }
}
.container .bottomHalf {
  background-image: url("../img/singleWave.png");
  width: 100%;
  height: auto;
}
.container .bottomHalf .main-header3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30% 0 5% 0;
}
.container .bottomHalf .main-header3 img {
  margin-top: 15px;
  width: 100px;
  height: 100px;
}
.container .bottomHalf .main-header3 h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 25px;
}
.container .bottomHalf .main-header3 p {
  text-align: center;
  width: 75%;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: "425px") {
  .container .bottomHalf .main-header3 p {
    padding-left: 0;
    padding-right: 0;
  }
}
.container .bottomHalf .main-header3 .btn {
  display: block;
  margin: 0 10px 20px 10px;
  height: 45px;
  font-size: 2rem;
  border-radius: 10px;
  padding-top: 12px;
  text-align: center;
  width: 80%;
  background-color: #54C6D2;
  color: white;
  width: 25%;
}
.container .bottomHalf .main-header3 .btn a {
  text-decoration: none;
  color: white;
}
@media (max-width: 800px) {
  .container .bottomHalf .main-header3 .btn {
    width: 90%;
    margin-left: 30px;
  }
}
.container .bottomHalf .main-header3 .btn:hover {
  background-color: #41C2E1;
}
@media (max-width: 800px) {
  .container .bottomHalf .main-header3 {
    padding-top: 50%;
  }
}
.container .aboutUs {
  padding: 20px;
}
footer {
  height: 475px;
  width: 100%;
  background-image: url("../img/Wave.png");
  background-size: 100% 100%;
  color: white;
}
@media (max-width: 800px) {
  footer {
    height: auto;
  }
}
footer .contact {
  padding-top: 200px;
}
footer .contact h6 {
  text-align: center;
}
footer .contact img {
  width: 40px;
  height: 40px;
}
@media (max-width: "425px") {
  footer .contact {
    padding: 20px;
  }
}
footer .footer-container {
  text-align: left;
  display: flex;
  flex-direction: row;
  margin-left: 12%;
  margin-right: 12%;
}
footer .footer-container h6 {
  font-size: 15px;
}
footer .footer-container p,
footer .footer-container a {
  font-size: 14px;
}
footer .copyright-text {
  text-align: center;
  margin-top: 40px;
  font-size: 12px;
  padding-bottom: 2%;
}
footer .copyright-text .terms:hover {
  cursor: pointer;
}
footer .contact {
  align-content: center;
}
footer .contact h6 {
  font-size: 1.75rem;
  margin: 15px;
  font-family: "Bungee", sans-serif;
}
footer .contact .contact-icons {
  margin: 10px auto 0 auto;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer .contact .contact-icons .social-img {
  transition: transform 0.2s;
}
footer .contact .contact-icons .social-img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
@media (max-width: 800px) {
  footer .contact .contact-icons {
    padding-bottom: 3%;
  }
}
footer .left-box {
  width: 50%;
}
@media (max-width: "425px") {
  footer .left-box {
    margin-top: 10px;
  }
}
footer .left-box .site-name {
  font-family: "Bungee", sans-serif;
  margin-bottom: 3%;
}
footer .left-box .site-text-mobile {
  display: none;
}
@media (max-width: "425px") {
  footer .left-box .site-text-mobile {
    display: block;
    padding: 0;
  }
}
@media (max-width: "425px") {
  footer .left-box .site-text {
    display: none;
  }
}
footer .left-box p {
  padding-right: 40%;
}
footer .right-box {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
@media (max-width: "425px") {
  footer .right-box {
    margin-top: 10px;
  }
}
footer .right-box h6 {
  font-family: "Bungee", sans-serif;
}
footer .right-box .links {
  display: flex;
  flex-direction: column;
}
@media (max-width: "425px") {
  footer .right-box .links {
    display: none;
  }
}
footer .right-box .links h6 {
  margin-bottom: 15%;
}
footer .right-box .links a {
  color: white;
  text-decoration: none;
  margin-bottom: 7%;
}
footer .right-box .links a:hover {
  color: #d3d3d3;
  cursor: pointer;
  text-decoration: none;
}
@media (max-width: "425px") {
  footer .right-box .links a {
    color: black;
  }
}
footer .right-box .product {
  display: flex;
  flex-direction: column;
  margin-left: 25%;
}
footer .right-box .product h6 {
  margin-bottom: 20%;
}
footer .right-box .product a {
  color: white;
  text-decoration: none;
  margin-bottom: 10%;
}
footer .right-box .product a:hover {
  color: #d3d3d3;
  cursor: pointer;
  text-decoration: none;
}
@media (max-width: "425px") {
  footer .right-box .product a {
    color: black;
  }
}
.meetUs {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.meetUs .team-navigator {
  display: flex;
  flex-direction: column;
  align-content: center;
  border-radius: 10px;
  border: 2px solid #54C6D2;
}
.meetUs .team-tabs {
  display: flex;
  background-color: #54C6D2;
}
.meetUs .team-tabs .tab {
  background-color: #54C6D2;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
.meetUs .team-tabs .tab:hover {
  background-color: white;
  color: #54C6D2;
}
.meetUs .team {
  display: none;
  padding: 20px;
}
.meetUs .team .tabs-item-description {
  display: flex;
}
@media (max-width: 800px) {
  .meetUs .team .tabs-item-description {
    flex-direction: column;
  }
}
.meetUs .team .tabs-item-description .leftSide {
  justify-content: center;
  align-content: center;
}
.meetUs .team .tabs-item-description .rightSide {
  width: 50%;
  padding-left: 20px;
  justify-content: center;
  align-content: center;
}
@media (max-width: 800px) {
  .meetUs .team .tabs-item-description .rightSide {
    width: 100%;
    padding-left: 0;
  }
}
.meetUs .active-tab {
  display: block;
}
input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: #54C6D2;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
@media (max-width: 800px) {
  input[type=submit] {
    width: 100%;
  }
}
input[type=submit]:hover {
  background-color: white;
  color: #54C6D2;
}
.container2 {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  font-family: 'Numans', sans-serif;
}
