footer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: @monte-carlo;
    padding: 20px 20px 10px 20px;
    border-radius: 10px;

    .contactInfo {
        p {
            font-size: 1.4rem;
        }
    }

    .copyright {
        text-align: center;
        
    }
}