footer {
    background-image: url("../img/Wave.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    .contactInfo {
        p {
            font-size: 1.4rem;
        }
    }

    .copyright {
        color: white;
        padding-top: 20%;
        text-align: center;
        
    }

    @media @tablet {
        width: 95%;
        margin-left: 15px;
    }
}