.container{
    width: 100%;

    @media @tablet {
        max-width: 800px;
    }
    
    @media @mobile {
        max-width: 500px;
    }

    .topHalf {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        @media @tablet {
            flex-direction: column;
            justify-content: center;
            align-content: center;
            padding-top: 20px;
        }
        
        @media @mobile {
            
        }

        .leftSide {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                padding-bottom: 20px;
            }

            .btn {
                .button(@eastern-blue, @white)
            }
        
            @media @tablet {
                text-align: center;
            }
        }

        .topHalfImg {
            width: 600px;

            @media @tablet {
                margin-left: 75px; 
                width: 400px;
                
            }
            img{
                @media @mobile {
                    display: none;
                }    
            }

        }
    }

    .bottomHalf {
        padding: 20px;
    }

    .aboutUs {
        padding: 20px;
    }

    .meetUs {
        width:100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}