.container{
    width: 100%;

    @media @tablet {
        max-width: 800px;
    }
    
    @media @mobile {
        max-width: 500px;
    }

    .topHalf {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding-top: 10%;
        padding-bottom: 5%;

        @media @tablet {
            flex-direction: column;
            justify-content: center;
            align-content: center;
            padding-top: 20px;
        }
        
        @media @mobile {
            
        }

        .leftSide {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            h2 {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 600;
                padding-bottom: 20px;
            }

            .btn {
                .button(@eastern-blue, @white)
            }
        
            @media @tablet {
                width: 100%;
                text-align: center;
            }
        }

        .topHalfImg {
            margin-top: 2%;
            width: 600px;

            @media @tablet {
                margin-left: 75px; 
                width: 60%;
                height: auto;
                
            }
            img{
                @media @mobile {
                    display: none;
                }    
            }

        }
    }

    .bottomHalf {
        background-image: url("../img/singleWave.png");
        width: 100%;
        height: auto;
        .main-header3 {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30% 0 5% 0;
            img {
                margin-top: 15px;
                width: 100px;
                height: 100px;
            }
        
            h2 {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 550;
                margin-top: 30px;
                margin-bottom: 30px;
                font-size: 25px;
                }
        
            p {
                text-align: center;
                width: 75%;
                font-family: Arial, Helvetica, sans-serif;
            
                @media (max-width: "425px") {
                    padding-left: 0;
                    padding-right: 0;
                }
            }

            .btn {
                .button(@eastern-blue, @white);
                width: 25%;
            }

            @media @tablet {
                padding-top: 50%;
            }
          }
    }

    .aboutUs {
        padding: 20px;
    }

    
}