header {
    background-color: @nav-bg;
    width: 100%;
}


.topHalf {
    width: 100%;
    display: flex;
    justify-content: center;

    .leftSide {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            padding-bottom: 20px;
        }

        .btn {
            .button(@eastern-blue, white)
        }
    }

    .topHalfImg {
        width: 600px;
    }
}