// Color Assignments
@button-bg: @eastern-blue;
@nav-bg: @monte-carlo;
@font-color: @white;

// Colors
@eastern-blue: #54C6D2;
@monte-carlo: #41C2E1;
@white: white;

// Escaping
@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width: 800px)";